:root{
    --topHeight: 100px;
    --cardHeight: 500px;
    --cardWidth: 250px;
    --cardBorderRadius: 3%;
    --headerFloatWidth: 50px;
    --headerFloatMargin: 5px;
    --itemsInFloat: 2;
    --backGradient: radial-gradient(circle, lightgray 28%, white 84%);
    --logoGradient: linear-gradient(to right, var(--mainColor) 0%, #9098b8 100%);
    --blobGradient: linear-gradient(135deg, #9098b8, #b89098);
    --starshape: "m 400 1200 l 400 -200 l 400 200 l -100 -400 l 300 -300 l -400 0 l -200 -400 l -200 400 l -400 0 l 300 300 z";
    --mainColor: rgba(00, 73, 177, 1.0);
    --complementryColor: rgba(00, 73, 177, 0.8);/*rgb(61, 139, 255);*/
    --complementryColor2: rgba(61, 139, 255, 0.7);
    --logoComplementryColor: rgba(255,102,0,1.0);
    --headerBackground: rgba(209,210,209, 0.8);
    --backgroundColor: rgba(209,210,209,1.0);
    --cardBackground: rgba(244,244,244,1.0);
    --cardTextColor: rgb(255,255,255);
}

*{
    box-sizing: border-box;    
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */ 
body{
    text-align: center;
    background-color: var(--backgroundColor);
    margin: auto;
}


a{
    margin: 0px;
}

/* Flex container */
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Header will have a flex basis of 100% to take up one whole column at all times*/
.header{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 80px;
    width: 100%;
    background-color: var(--headerBackground);
    z-index: 9999;
}

.centered_header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 50%;
    min-width: 360px;
    max-width: 900px;
    height: 80px;
    z-index: 9999;
    justify-content: space-between;
    column-count: 2;
    align-items: center;
}

/*Hearder front navigate to index*/
.header_front{
    display: flex;
    height: 75%;
    width: calc(calc(var(--headerFloatWidth) + var(--headerFloatMargin)) * var(--itemsInFloat));
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.header_nav_to_index{
    display: flex;
    height: var(--headerFloatWidth);
    width: var(--headerFloatWidth);
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50% 50%;
    transition: all 0.2s ease-in-out;
}
.header_nav_to_index:hover{ 
    transform: scale(1.05);
}


/*Div within header: contact, etc*/
.header_float{
    display: flex;
    background-color:  var(--mainColor);
    z-index: 9999;
    border-radius: 20% / 50%;
    height: var(--headerFloatWidth);
    width: calc(calc(var(--headerFloatWidth) + var(--headerFloatMargin)) * var(--itemsInFloat));
    align-items: center;
    padding-left: var(--headerFloatMargin);
    padding-right: var(--headerFloatMargin);
}


/*Contact me */
.contact_me{
    display: flex;
    color: var(--complementryColor);
    background-color: white;
    z-index: 9999;
    border-radius: 50% / 50%;
    height: calc(var(--headerFloatWidth) - 12px);
    width: calc(var(--headerFloatWidth) - 12px);
    margin-left: var(--headerFloatMargin);
    margin-right: var(--headerFloatMargin);
    background-size: 75%; 
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease-in-out; 

}
.contact_me:hover{ 
    transform: scale(1.05);
}

/*Top underneath header*/
.top{
    height: 80px;
    width: 100%;
}

/*hero outer*/
.hero_outer{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin: auto;
     min-height: 300px;
 }


.hero_back_img{
    background-image: url(media/crystal-kwok-HWLvqmKllVw-unsplash.jpg); 
    width: 100%; 
    height: 700px; 
    position: relative; 
    background-size: cover;
}


.hero_text{
    position: relative; 
    top: 15%; 
    left: 25vw; 
    width: 50vw; 
    background-color:var(--mainColor); 
    color: white; 
    font-size: 2em; 
    padding: 25px; 
    border-radius: 15px; 
    text-align: left;
    opacity: 0.8;
    min-width: 360px;
}

@media(max-width: 1441px){
    .hero_text{
        left: 0vw; 
    }
} 

.hero_text_content{
    min-width: inherit; 
    height: fit-content;
}

.hero_text_para{
    color: white; 
    font-size: 0.75em; 
}

/*Item within hero section*/
.hero_div{
    position: absolute;
    display: block;
    top: 25%;
    left: 25%;
    background: var(--logoGradient);
    width: 50%;
    height: 50%;
    border-radius: 50%;
    font-size: 15rem;
    text-align: center;
    color: lightgray;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 0 35px 12px var(--logoComplementryColor);
}

/*Navigation (cards)*/
.navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.navigation div.navigation_01:hover {
    outline: 1px solid var(--complementryColor2);
}


/*Card link*/
.card_link{
    margin: 15px;
    text-decoration: none;
}


/*Card*/
.navigation_01 {
    display: flex;
    height: var(--cardHeight);
    width: calc(var(--cardWidth) - 2px);
    border-radius: var(--cardBorderRadius) / calc(var(--cardBorderRadius) / 2);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    background-color: var(--cardBackground);
}

/*Card top*/
.card_top{
    width: calc(var(--cardWidth) - 2px );
    height: calc(var(--cardHeight) / 100 * 50);
    border-radius: var(--cardBorderRadius)  var(--cardBorderRadius)  0%  0%;
    margin-bottom: calc(var(--cardHeight) / 100 * 50 * -1);
    background-color: var(--complementryColor);
    z-index: 4;
}

/*Card picture container*/
.card_media{
    display: flex;
    width: calc(var(--cardWidth) / 100 * 75);
    height: calc(var(--cardWidth) / 100 * 75);
    border-radius: 50%;
    background-size: cover; 
    margin-top:15px;
    z-index: 5;
}


/*Card header*/
.card_header{
    color: var(--cardTextColor);
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 5;
}

/*Card description*/
.card_desc{
    color: black;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1rem;
}


.content{
    flex-basis: 90%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
}


.gallery_container{
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;

}

article{
    position: relative; 
    top: 0px; 
    left: 10px;
    font-size: 0.5em;
}

article p{
    margin-top: 2px;
    padding: 0px;
}

.image_gallery_left{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-basis: 60%;
    min-width: 100%;
    margin: 10px;
    padding: 10px;
    float: left;
    column-count: 2;
}

.image_gallery_right{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-basis: 60%;
    min-width: 100%;
    margin: 10px;
    padding: 10px;
    float: right;
    column-count: 2;
}


.image_gallery_img{
    width: 20%;
    width: 250px;
    border-radius: 15px
}


.gallery_p{
   width: 100%;
   text-align: left;
   padding: 4px;

}

.gallery_image_text{
    display: block;
    width: 60%;
    margin: 20px 20px;
    background-color: var(--complementryColor2);
    padding: 5px;
    border-radius: 15px;
    height: fit-content;
}


.gallery_image_div{
    height: auto;
}

.footer_content{

    flex-basis: 90%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;


}

.footer{
    margin-bottom: 10px;
}