
:root{
    --cardHeight: 500px;
    --cardWidth: 250px;
    --cardBorderRadius: 3%;
    --headerFloatWidth: 50px;
}

*{
    box-sizing: border-box;    
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */ 
body{
    text-align: center;
    background-color: white;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}

/* Flex container */
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* All divs within flex container*/
#container div {
    padding-left: 10px;
    padding-right: 10px;
}

/* Header will have a flex basis of 100% to take up one whole column at all times*/
.header{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.centered_header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    height: 100px;
    max-width: 1120px;
    z-index: 9999;
    justify-content: space-between;
    column-count: 3;
    column-gap: 20px;
    align-items: center;
}


.header_front{
    height: 100px;
    width: var(--headerFloatWidth); 

}

/*Text within header*/
.centered_header h1{
    display: flex;
    height: 100px;
    color: darkgray;
    margin: 0px;
    align-items: center;
}

/*Div within header: contact, etc*/
.header_float{
    color: darkgray;
    background: lightgray;
    z-index: 10;
    border-radius: 50% / 50%;
    height: var(--headerFloatWidth);
    width: var(--headerFloatWidth);
}


/*Top underneath header*/
.top{
    height: 80px;
    width: 100%;
}

/*hero section*/
.hero{
    background: darkgray;
    background: radial-gradient(circle, lightgray 28%, white 84%); 
    width: 100%;
    min-height: 350px;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: -2.5%;
}

/*Item within hero section*/
.hero_div{
    background: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 15rem;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 0 5px 10px darkgray;
}

/*Navigation (cards)*/
.navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/*Card*/
.navigation > div {
    display: flex;
    height: var(--cardHeight);
    width: var(--cardWidth);
    border: 1px solid rgba(255, 255, 255, 0.0); 
    border-radius: var(--cardBorderRadius) / calc(var(--cardBorderRadius) / 2);
    margin: 15px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

/*Card top*/
.card_top{
    width: calc(var(--cardWidth) - 2px );
    height: calc(var(--cardHeight) / 100 * 50);
    border-radius: var(--cardBorderRadius)  var(--cardBorderRadius)  0%  0%;
    margin-bottom: calc(var(--cardHeight) / 100 * 50 * -1);
    background-color: darkgray;
    z-index: 1;
}

/*Card picture*/
.card_media{
    width: calc(var(--cardWidth) / 100 * 75);
    height: calc(var(--cardWidth) / 100 * 75);
    border-radius: 50%;
    background-size: cover;
    margin-top:15px;
    z-index: 2;
}

/*Card header*/
.card_header{
    color: black;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 2;
}

/*Card description*/
.card_desc{
    color: black;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1rem;
}

.content{
    flex-basis: 80%;
    flex-grow: 3;
    flex-shrink: 0;
    flex-direction: row;
}